<!DOCTYPE html>
<html>
<head>
	<title>Combining variables in Ansible</title>
	<link href="/style.css" rel="stylesheet">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1 id="title">
		<a href="/">
			Jakski's blog
		</a>
	</h1>
	<!-- START BODY -->
	<header>
		<h1 id="post-title">Combining variables in Ansible</h1>
		<time id="post-date" datetime="2022-05-25">
			2022-05-25
		</time>
	</header>
	<p>Ansible is known for it's simplicity. To put it short: Ansible playbooks are
just tasks executed on hosts and sprinkled with variables. Some of these
variables change the way Ansible behaves as a whole and the rest of them are
left for user. They are usually organized into variables assigned to hosts
and variables assigned to groups. Host variables are boring, since we can't
practically reuse them. Group variables are where the fun begins. Most projects
have a set of global configuration settings like address of LDAP server, user
accounts etc. However when introducing groups some problem emerges: what, if we
want to combine variables from different groups or group and host?</p>
<h1>Why would you want to combine Ansible variables?</h1>
<p>Let's say that you have Ansible role for provisioning user accounts. You're
smart, so you don't import it separately for each account and instead use loops.
You have a common set of project accounts, but suddenly third party contractor
from outside joins project and requires access to only one host. Of course you
can hardcode additional account creation in playbook and call it a day, but it
will be hide &amp; seek game for future maintainers. Variables are supposed to
express project's configuration. Ad-hoc additions to roles blurs separation
between reusable modules and configuration.</p>
<p>I've used accounts in above example, but I hope you get the idea: we have
role for managing certain service, common set of resources for this service
and unique additions assigned more granularly to hosts. You may say that there's
nothing wrong in reapplying single role for host, but what if it's
<code>authorized_keys</code> file for SSH we're managing and we don't want any stray keys?
It means that role has exclusive control other some service and reapplying it
with different variables would erase prior configuration. That's when first
questions about <em>merging</em> and <em>combining</em> variables are asked.</p>
<h1>Known solutions</h1>
<p>This problem is not new, so let's review some existing solutions.</p>
<h2>Using Jinja2 filters</h2>
<p>Since variables have Python-compatible data types, nothing stops us from using
Jinja2 filters for transformation. In Ansible we have:</p>
<ul>
<li><a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#combining-hashes-dictionaries">combine</a> - Allows to merge dictionaries/mappings including deep merge.</li>
<li><a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#selecting-from-sets-or-lists-set-theory">union</a> and other set theory filters - Allow to concatenate lists.</li>
</ul>
<p>Using set theory filters and combine allows to render configuration based on
more than one variable. This way instead of <code>system_accounts</code> variable we can
have <code>system_accounts_host</code> and <code>system_accounts_global</code> pair. They can be
merged upon using role like so:</p>
<pre><code class="language-yaml">- name: Setup system accounts
  import_role:
    name: system_accounts
  vars:
    system_accounts: &quot;{{ system_accounts_global | union(system_accounts_host) }}&quot;
</code></pre>
<p>This way we have to modify playbook in order to respect host/group specific
variables. It'll be especially cumbersome when we have multilevel configuration
with child groups like subregions or availability zones in datacenter.</p>
<h2>hash_behaviour configuration</h2>
<p><code>hash_behaviour</code> is probably one of lesser known Ansible configuration settings,
because it has potential to break a lot of things. The idea is that by default
Ansible variables are replaced in specified order, but you can change this
behaviour to merging instead. It seems like the most obvious solution, but:</p>
<ul>
<li><code>hash_behaviour</code> is applied globally. A lot of code relies on default
behaviour, so expect problems.</li>
<li>Some modules like <code>include_vars</code> ignore this setting anyway.</li>
<li>It was deprecated once and documentation strongly advises to avoid using it.</li>
</ul>
<p>It's handy to know that such option exists, but it's too limited to be actually
useful. Puppet solved this issue better with
<a href="https://puppet.com/docs/puppet/7/hiera_merging.html#setting_lookup_options_to_refine_the_result_of_a_lookup-defining-merge-behavior-with-lookup-options">lookup_options</a>
which allow to specify merge behaviour per variable.</p>
<h2>Using plugins</h2>
<p>At least 2 plugins for handling variables merging exist:</p>
<ul>
<li><a href="https://gitlab.com/Symaxion/ansible-common/">Symaxion/ansible-common</a> - Looks nice, but suffers similar
issues to <code>hash_behaviour</code> approach.</li>
<li><a href="https://github.com/leapfrogonline/ansible-merge-vars">leapfrogonline/ansible-merge-vars</a> - Requires extra task for
merging variables.</li>
</ul>
<p>Adding plugin has also one obvious downside: it's yet another dependency which
needs to be downloaded for each installation and may become unmaintained some
day. Of course it hugely depends on project. Some plugins have been consistently
maintained for long years despite small user-base.</p>
<h1>Yet another approach</h1>
<blockquote>
<p>It works similarly to <a href="https://github.com/leapfrogonline/ansible-merge-vars">ansible-merge-vars</a>,
but doesn't require any plugin.</p>
</blockquote>
<p>Have you ever heard of <code>varnames</code> lookup plugin? It's actually <a href="https://docs.ansible.com/ansible/devel/reference_appendices/config.html#default-hash-behaviour">mentioned in
documentation</a>
as an alternative to <code>hash_behaviour</code>. It allows us to query defined variables
names using regular expressions. It means that we no longer have to hardcode
variables names like in approach with <code>combine</code>/<code>union</code>, but we still need to
make extra names for variables. We will construct variable's value based on a
few other variables matching expression. Jinja2 macros for doing exactly this
can be written like so:</p>
<pre><code>{% macro merge_list(pattern) -%}
  {% set ns = namespace(output=[]) -%}
  {% for name in lookup('varnames', pattern).split(',') -%}
    {% set ns.output = ns.output | union(hostvars[inventory_hostname][name]) -%}
  {% endfor -%}
  {{ ns.output }}
{% endmacro -%}

{% macro merge_dict(pattern, recursive=True) -%}
  {% set ns = namespace(output={}) -%}
  {% for name in lookup('varnames', pattern).split(',') -%}
    {% set ns.output = ns.output | combine(hostvars[inventory_hostname][name], recursive=recursive) -%}
  {% endfor -%}
  {{ ns.output }}
{% endmacro -%}
</code></pre>
<p>Of course we don't want to copy this much of code every time we want to create
merged variable. Instead let's save these macros in <code>templates/macros.j2</code> file
in our project. Some conventions are required to make our playbook easier to
maintain. Let's say that for every variable <code>x</code> partial variables shall be named
according to pattern <code>&lt;id&gt;__x__m</code>, where <code>&lt;id&gt;</code> is group or host name and <code>__m</code>
suffix stands for <code>merged</code>. We can create merged variable like so:</p>
<pre><code class="language-yaml">all__system_groups__m:
  jakski: {}
system_groups: &gt;
  {% from 'templates/macros.j2' import merge_dict with context -%}
  {{ merge_dict('__system_groups__m$') }}
</code></pre>
<p>Now, if we wanted to add a few more groups which are specific to host <code>prod1</code>:</p>
<pre><code class="language-yaml">prod1__system_groups__m:
  prod-app: {}
  backups: {}
</code></pre>
<p>Above snippet can be placed in <code>host_vars</code>, but nothing stops us from using this
approach in <code>group_vars</code> or even creating merged variable based on partials from
multiple groups.</p>
<p>It's not exactly quick &amp; easy, but this way we rely only on builtin plugins and
Jinja2, so there's no problem with dropping it into an already working project
and use only for specified variables.</p>

	<!-- END BODY -->
</body>
</html>
